/* Set font family */
body {
    font-family: sans-serif;
}

/* Set font color */
li a {
  color: crimson;
}

/* Background file  */
body {
  background: white url("images/Puff+Pastry+Pizza.jpg") no-repeat;
}
