/* Set font family */
body {
    font-family: sans-serif;
    left: 30px
}

/* Set font color */
li a {
  color: black;
}

/* Background file  */
body {
  background: white url("images/Puff+Pastry+Pizza.jpg") no-repeat;
}
