{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's Pizza | Order
{% endblock %}

{% block body %}

<h1>{{ category.category_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'order' category.id %}" method="post">
{% csrf_token %}
{% for type in category.type_set.all %}
    <input type="radio" name="type" id="type{{ forloop.counter }}" value="{{ type.id }}">
    <label for="type{{ forloop.counter }}">{{ type.type_text }} ${{ type.price }}</label><br>
{% endfor %}
<br><input type="submit" value="Order">
</form>

<h2><a href="{% url 'index' %}">Home</a></h2>

{% endblock %}
