{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's Pizza
{% endblock %}

{% block body %}
    <h1>Pinocchio's Pizza & Subs</h1>
    <h2>
      74 Winthrop Street<br>
      Harvard Square<br>
      617-876-4897<br><br>
    </h2>

  <h2>
    <ul>
  {% if category_list %}
  {% for category in category_list %}
    <li><a href="/{{ category.id }}">{{ category.category_text }}</a>
  </li>
  {% endfor %}
    </ul>
  {% else %}
    <p>No menu items are available.</p>
  </h2>
  {% endif %}

{% endblock %}
